<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
</head>
<body>
<h1>Android Connection</h1>
<h1>tag: <%=tag%></h1>
<h1>username: <%=username%></h1>
<h1>email:<%= email %></h1>
<h1>pw: <%= password %></h1>
</body>
</html>
